@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.WebStudio{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 32px;
    border-bottom: 1px solid #ECECEC;
}

.Web{
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
}
.Studio{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
    color: black;
    margin-right: 93px;
}

.WebStudio_infoContainer{
    display: flex;
    width: 100%;
    max-width: 281px;
    justify-content: space-between;
}

.WebStudio_infoContainer--content{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none; 
    text-decoration: none;
    color: #000;


}

.WebStudio_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.WebStudio_infoContainer--content:hover{
    color: #2196F3;
}
.WebStudio_info--email{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;  
    color: #2196F3;  
    padding-left:344px; 

}
.WebStudio_info--number{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #757575;  
 
}

.link_container--content{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black; 
    text-decoration: none;
    background-color:#F5F4FA ;
    padding: 19px 19px;
    height: 38px;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 56px;
    text-align: center;  
}
.link_container--content:hover{
    background-color: #2196F3;
    color: #fff;
}

.link_container{
    max-width: 575px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 94px;
}

.posters{
    width: 100%;
    max-width: 1170px;
    max-height: 1360px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 94px;
}

.poster_container--title{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
}
.poster_container--text{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #757575;    
}
.foot{
    color: #fff;
    background-color: #2F303A;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px ;
    display: flex;
    flex-direction: column;
}
.web{
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;   
    margin-bottom: 20px; 
}
.foot_container--title{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none; 
    margin-bottom: 9px;   
}
.foot_content--address{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
    margin-bottom: 9px;   
}
.foot_content--email{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF99;    
    margin-bottom: 9px;   
}
.foot_content--number{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF99;    
}